  
  .customCursor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    pointer-events: none;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  
  .customCursor.show {
    display: flex;
    align-items: center;
    gap: 8px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  